@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
* {
    margin: 0;
    padding: 0;
    font-size: 17px;
}

h1 {
    font-size: 26px;
    font-weight: 400;
}
h2{
  font-weight: 400;
}
h3{
  font-weight:400;
}

.button{
  font: inherit;
}

#am_alg_name, #am_alg_seek, #cl-seek {
  margin-left: 30px;
  font-size: 15px;
  text-align: center;
  text-emphasis: bold;
  color: #737373;
}

#graph_area {
  visibility: hidden;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px  #777;
  width: 90%;
  margin-left: 2%;
}
#cmpr_area {
  visibility: hidden;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px  #777;
  width: 90%;
  margin-left: 2%;
}

#plt_alg_name {
  margin-left: 30px;
  font-size: 30px;
  text-align: center;
  text-emphasis: bold;
  color: #004080;
}

#cmpr-head {
  margin-left: 30px;
  font-size: 30px;
  text-align: center;
  text-emphasis: bold;
  color: #004080;
}


#plt_alg_seek {
  text-align: center;
  font-size: 15px;
  margin: 10px;
}

/* #cal-seek {
  text-align: center;
  font-size: 15px;
  margin: 10px;
} */
/* }
.calculate{
  padding-bottom: 400px;
} */

.right{
  float: left;
  display:flex;
  text-align: center;
  padding-top: 30px;
}
#cal-seek {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
}
.container2 {
  position:relative;
  width: 100%;
  text-align: center;
}

.container3 {
  position: relative;
  text-align: center;
  /* left: 10px; */
  width: 100%;
}
